body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #2c3e50;
}

p {
    color: #34495e;
}

nav {
    background-color: #2c3e50;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.banner {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    display: block;
}

nav ul li a:hover {
    color: #f39c12;
}

.news {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
    text-align: center;
}
.news h2 {
    color: #2c3e50;
}
.news ul {
    list-style: none;
    padding: 0;
}
.news ul li {
    font-size: 18px;
    margin: 10px 0;
}
